name: Release Charts

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name jon-whit
          git config user.email jon.b.whitaker@gmail.com

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Add dependency chart repos
        run: |
          helm repo add cockroachdb https://charts.cockroachdb.com/
          helm repo add authorizer-tech https://charts.authorizer.tech

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.2.1
        with:
          charts_dir: charts
          charts_repo_url: https://authorizer-tech.github.io/helm-charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"